<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="text-center">
    <div class="container text-center" id="loginContainer">
        <h1 class="text-center"><%= title %></h1>
        <form id="login">
            <input type="submit" value="Join Chat" class="btn btn-primary align-content-center" id="loginButton">
        </form>
    </div>
    
    <div class="container1 w-100 mt-4  m-2" style="height: auto; " id="chatContainer" >
        <form id="chat" style="display: contents;">
            <div id="message-list" style="height: 400px; margin: auto;" class="border w-25">

            </div>
            <input type="text" class="form-control mt-2 w-25  " style="margin: auto;" id="message">
            <input type="submit" value="Kirim" class="btn btn-secondary mt-2 w-25" id="send">
        </form>
    </div>
</div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
   <script>
        const socket = io()

        const chatContainer = document.getElementById("chatContainer")
        const loginContainer = document.getElementById("loginContainer")
        const message = document.getElementById("message")
        const sendMessage = document.getElementById("send")
        const messageList = document.getElementById("message-list")

        chatContainer.style.display = "none"
        
        loginButton.addEventListener("click", (e) => {
            e.preventDefault();
            chatContainer.style.display = "block"
            loginContainer.style.display = "none"
        })
        send.addEventListener("click", (e) => {
            e.preventDefault()
            if(message.value){
                const data = {
                    id: socket.id,
                    message : message.value
                }
                socket.emit("message", data) 
                let chatList = document.createElement('p')
                chatList.style.fontSize = "22px"
                chatList.style.textAlign = "left"
                chatList.textContent = message.value
                messageList.appendChild(chatList)
                message.value = ""
            }
        })
        socket.on("message", (id, message) => {
            let broadcast = document.createElement('p')
            broadcast.style.fontSize = "22px"
            broadcast.style.textAlign = "right"
            broadcast.textContent = `${message} ${id}`
            messageList.appendChild(broadcast)
        })
    </script>
</body>
</html>